# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
tracker_venv/
20240605_viscoelastic videos_AS.zip
viscoelastic_video/20240308_20240307_A549 _stiff VE sub._col-I_AS_current_01.vsi - 001 PH-Cell 1.avi
viscoelastic_video/20240308_20240307_A549 _stiff VE sub._col-I_AS_current_04.vsi - 004 PH-Cell 3.avi
figures/centroid distance.png
viscoelastic_video/20240308_20240307_A549 _stiff VE sub._col-I_AS_current_02.vsi - 002 PH-Cell 2.avi
viscoelastic_video/20240315_20240314_A549_p.18_reg.media_AS_VE PAH-Cell 4.avi
viscoelastic_video/C2-20240522_20222605_a549_RFP_stiff Elastic_AS_current_02.vsi - 002 PH, TRITC.avi
